@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#displayArea {
    display: flex;
    justify-content: center;
}

#displayArea input {
    width: 90%;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: right;
    padding: 5px;
    color: black;
    border: 2px solid rgb(141, 138, 138);
    border-radius: 5px;
    font-weight: bold;
    font-size: large;
    background-color: whitesmoke;
}

.calculator {
    width: 300px;
    height: 450px;
    border: 3px solid rgb(5, 21, 248);
    border-radius: 25px;
    box-shadow: 2px 2px 5px rgb(78, 78, 78);
}

.row {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 5px auto;
}

h1 {
    color: black;
    margin-bottom: 10px;
}

input[type="button"] {
    height: 50px;
    width: 50px;
    background-color: rgb(5, 21, 248);
    border-style: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(78, 78, 78);
    
}

#equal {
    width: 108px;
}